@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
.navbar
{
    position:fixed;
    top: 0%;
    background-color: black !important;
    color: white !important;
    z-index: 1;
    width: 100% !important;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
.container
{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
.data
      {
          border: 3px solid black;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;  
          position: relative;
          
      }
      .emoji,.profile-img
      {
          width: 8rem;
          height: 8rem;
          border: 2px solid white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

      }
      .emoji img , .logo{
          object-fit: cover;
          width: 100%;
      }
      .text-left,.text-success,.text-danger
      {
          font-weight: 900;
      }
      .text-left i{
          font-weight: 900;
      }
      .number
      { position:absolute;
        left: 3%;
        top: 3%;
        width: 2.5rem;
        height:2.5rem;
        background-image: url('./images/number.png');
        background-size: 100% 100%;
        overflow:hidden ;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .number >  h1{
          font-size: 29px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          font-weight: 900;
          
      }
     .profile-img{
         width: 10rem;
         height: 10rem;
         border: 10px solid black;

     }